* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #788db1;
}

/* INICIO HEADER */
header {
    display: block;
    width: 100%;
    height: 120px;
    background-color: #667b9e;
    text-align: center;
    position: sticky;
    top: 0;
}

.main-title {
    padding: 15px 0px 20px 0px ;
    font-size: 3em;
}

button {
    margin-right: 10px;
    font-size: 1.0em;
}

.clear-mode {
    display: none;
}
/* FIN HEADER */

/* INICIO DE CONTENIDO PRINCIPAL */
.conteiner-global {
    display: flex;
    height: 600px;
}


main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.conteiner-meme {
    display: flex;
    width: 80%;
    height: 600px;
    max-width: 600px;
    justify-content: center;
    background-color: aqua;
    overflow: hidden;
}

.meme {
    width: 100%;
    height: 600px;
    margin: auto;
    background-color: azure;
}



.text-meme {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.img-meme {
    height: 320px;
    
}

.button-img {
    width: 100px;
    justify-content: center;
    display: none;

}

/* FIN DE CONTENIDO PRINCIPAL */

/* INICIO DE PANELES*/
aside {
    flex-grow: 0.3;
}

/* INICIO PANEL IMAGEN*/
.panel-img {
    width: 30%;
    height: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    background-color: blue;
}
/* FIN PANEL IMAGEN*/